 
@using BalloShoopApp.Web.Helpers
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-3 col-md-3">
        @Html.Partial("_Department")
        @*<table class="table table-bordered table-striped">
            <tbody data-bind="foreach: departments">
                <tr>
                    <td data-bind="visible:false , text: ID "></td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Description"></td>


                </tr>
            </tbody>
        </table>*@
    </div>
    <div class="col-lg-9 col-md-9">
        @Html.Partial("_Carousel")
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img alt="" class="card-img-top" src="http://placehold.it/700x400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">
                                Item Two
                            </a>
                        </h4>
                        <h5>
                            $24.99
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted text-warning">
                            ★ ★ ★ ★ ☆
                        </small>
                        <div class="card-buttons">
                            <a class="btn btn-info btn-coustom">
                                Info
                            </a>
                            <a class="btn btn-info btn-coustom">
                                Info
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 ">
                <div class="card h-100">
                    <a href="#">
                        <img alt="" class="card-img-top" src="http://placehold.it/700x400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">
                                Item Two
                            </a>
                        </h4>
                        <h5>
                            $24.99
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            ★ ★ ★ ★ ☆
                        </small>
                        <div class="card-buttons">
                            <a class="btn btn-info btn-coustom">
                                Info
                            </a>
                            <a class="btn btn-info btn-coustom">
                                Info
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 my-4">
                <div class="card h-100">
                    <a href="#">
                        <img alt="" class="card-img-top" src="http://placehold.it/700x400" />
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">
                                Item Two
                            </a>
                        </h4>
                        <h5>
                            $24.99
                        </h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            ★ ★ ★ ★ ☆
                        </small>
                        <div class="card-buttons">
                            <a class="btn btn-info btn-coustom">
                                Info
                            </a>
                            <a class="btn btn-info btn-coustom">
                                Info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
           

            function ViewModel(departments) {
                var self = this;

                self.departments = departments;

            };
             
            // Initialize the view-model
            $.ajax({
                url: 'GetDepartments',
                cache: false,
                type: 'GET',              
                data: {},
                success: function (data) {
                   var viewModel = new ViewModel(data);
                   ko.applyBindings(viewModel);
                }
            });
            
        });
        
         
    </script>
}